body {
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 2em;
  background-color: lavender;
}
.brand {
   margin: auto;
   background-color: white;
   position: relative;
   top: 20px; 
}
.topHeader {
   margin: auto;
   background-color: white;
   height: 75px;
}
th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}
td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}

#table tr:nth-child(odd){background-color: whitesmoke;}

.mainTool {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: ghostwhite;
    overflow: hidden;
    border-bottom-style: solid;
    border-width: thin;
    z-index: 100;
}
#table {
    border: 1px solid #ddd;
    border-collapse: collapse;
}
#toolText {
    position: relative;
    left: 50px;
}
#invalidInput {
    position: relative;
    left: 50px;
}

/*
#req {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #264169;
  padding: 7px 23px 7px 23px;
  text-decoration: none;
}
.btn:hover {
  background: #6B80A1;
  text-decoration: none;
}
#request_button {
    position: relative;
    display: inline-block;
    left: -250px;
    top: -25px;
}
#working {
    position: Sticky;
    position: -webkit-sticky;
/*    display: inline-block;*/
    background-color: white;
    border: 2px solid #ddd;
    left: 700px;
    top: 200;
    z-index: 100;
}
progress:not([value]) {
   /* Styling here */
}
#tabs {
    position: relative;
    left: 52px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: forestgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-26px);
  -ms-transform: translateY(-26px);
  transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    width: 1800px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
/*    border-top: none;*/
    position: relative;
    left: 52px;
    width: 1776px;
}

